language: c

sudo: false

#Cache devkitPro
cache:
  directories:
    - /home/travis/devkitPro
    
before_install:
  # Prepare devkitArm update
  - export DEVKITPRO=/home/travis/devkitPro
  - export DEVKITARM=${DEVKITPRO}/devkitARM
  - mkdir -p $DEVKITPRO
  - cd $DEVKITPRO
  - wget -N http://sourceforge.net/projects/devkitpro/files/Automated%20Installer/devkitARMupdate.pl
  - 

install:
  - cd $DEVKITPRO
  # Install or update devkitArm if it's cached
  - perl devkitARMupdate.pl
  - cd $TRAVIS_BUILD_DIR
  
script:
  - cd $TRAVIS_BUILD_DIR
  - make
  